name: Test Linux platforms

on:
  workflow_dispatch:
    inputs:
      platforms:
        description: 'Platforms'
        default: '["ubuntu:latest"]'

jobs:
  linux-matrix:
    strategy:
      matrix:
        os: ${{ fromJson(inputs.platforms) }}
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
#    - run: |
#        git config --global --add safe.directory '*'
#        # git submodule update --init --recursive
    - name: Set up host
      run: |
        V=1 ./sbin/setup-gha-host.sh
    - name: dvm operations
      run: |
        dvm plucky1 plucky
        dvm fed1 fedora
        dvm arch1 arch
        docker images
