name: Test macOS platforms

on:
  workflow_dispatch:
    inputs:
      platforms:
        description: 'Platforms'
        default: '["macos-14", "macos-15-arm64", "macos-26-arm4"]' # "macos-14-arm64", "macos-15"

jobs:
  macos-matrix:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.platforms) }}
      fail-fast: false
    steps:
    - name: Install bash
      run: brew install bash
    - uses: actions/checkout@v4
      with:
        submodules: true
#    - run: |
#        git config --global --add safe.directory '*'
#        # git submodule update --init --recursive
    - name: Set up host
      run: |
        V=1 ./sbin/setup-gha-host.sh
    - name: dvm operations
      run: |
        dvm plucky1 plucky
        dvm fed1 fedora
        dvm arch1 arch
        docker images
